.desktop-heading {
    display: none;
}

.desktop-add-heading {
    display: none;
}

@media screen and (min-width: 768px) {

    .desktop-heading {
        display: block;
    }

    .mobile-heading {
        display: none;
    }

    .book-details {
        display: flex;
        justify-content: space-between;
    }

    .desktop-add-heading::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 8rem;
        height: 2px;
        background-color: black;
        transform: translate(-50%, 0);
    }

    .book-menu {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .add-form {
        text-align: center;
    }

    .add-form input {
        width: 50%;
    }

    .remove,
    .add {
        box-shadow: 5px 10px;
    }

    .add {
        box-shadow: 5px 10px;
        /* float: right; */
    }

    .desktop-add-heading {
        display: block;
    }

}